.custom-modal {
    max-height: 500px;
    // width: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    top: 10%;
    left: 25%;
    overflow-y: scroll;
    // display: block;

    // .main-modal {
    //     height: 100%;
    // }

    .modal-body {
        padding: 30px;
        width: 700px;
        // border: 1px solid lightgray;
        background-color: #fff;
        border-radius: 5px;
    }

    .checklist-progress {
        position: relative;
        top: 20px;
    }

    .list-item-width {
        min-width: 35px !important;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
    }

    .select-control > div {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
